body {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background: #ebc9e5;
  padding: 5vh 0;
  margin: 0;
  border: 0;
}

.bounceInDown {
  opacity: 1 !important;
}

#present {
  width: 300px;
  height: 220px;
  position: relative;
  cursor: pointer;
  opacity: 0;
}

#present #box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e53935;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 2;
  -webkit-box-shadow: 0px 13px 4px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 13px 4px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 13px 4px -10px rgba(0, 0, 0, 0.3);
}

#present #top {
  width: 340px;
  background: #ffffff;
  height: 70px;
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 0px 30px 2px -20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

#present #top img {
  position: absolute;
  top: -5px;
  width: 100%;
}

#present #cat {
  position: absolute;
  top: 10px;
  width: 60%;
  border-radius: 50%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  transition: all 2s;
  z-index: 0;
}

#wish {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#wish div {
  font-size: 100px;
  font-weight: bold;
  color: #f44336;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 5px;
  display: inline-block;
  opacity: 0;
}

#wish .name {
  width: 100%;
  /* chiếm cả dòng */
  display: flex;
  justify-content: center;
  /* căn giữa chữ */
  margin-top: 20px;
  /* cách Happy Birthday */
}

#wish .name div {
  font-size: 100px;
  /* giống style HAPPY BIRTHDAY */
  font-weight: bold;
  color: #f44336;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 5px;
  display: inline-block;
  opacity: 0;
}

.swing {
  animation-iteration-count: infinite;
  opacity: 1 !important;
}

#countdown {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #f44336;
  font-weight: bold;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s;
}

#touch-cat {
  position: absolute;
  top: 80%;
  left: 50.2%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  transition: opacity 1s;
}

.mini-box {
  position: fixed;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 200px;
  border-radius: 10px;
  border: solid 4px #ffeaea;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

.mini-box .box-header {
  background-color: #ffeaea;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffeaea;
}

.mini-box .box-header p {
  font-size: 16px;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.box-header a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

.box-header a:hover {
  color: #cc0000;
}

.mini-box .box-content {
  width: 100%;
  height: auto;
}

.box-content img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}